NEXT_PUBLIC_SUPABASE_URL=https://efdgkvknuyfmedtaczdn.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImVmZGdrdmtudXlmbWVkdGFjemRuIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODIzMTg4NzIsImV4cCI6MjA5Nzg5NDg3Mn0.cCOWp4XrDHVAuaDEy1m2TFUlnt633eh2yU9KfwThP4M
SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdWJhYmFzZSIsInJlZiI6ImVmZGdrdmtudXlmbWVkdGFjemRuIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc4MjMxODg3MiwiZXhwIjoyMDk3ODk0ODcyfQ.bIaqgtiPzQILgz4Q6t3Yz_HgUmKz2XUH3TBPry3nfFw
